@import url("nexarustsans/stylesheet.css");

@font-face {
  font-family: 'avantgarde-cond';
  src: url('AvantGardeLT-CondDemi.eot?#iefix') format('embedded-opentype'),  url('AvantGardeLT-CondDemi.woff') format('woff'), url('AvantGardeLT-CondDemi.ttf')  format('truetype'), url('AvantGardeLT-CondDemi.svg#AvantGardeLT-CondDemi') format('svg');
  font-weight: normal;
  font-style: normal;
}
