<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<a href="#" class="btn btn-default navbar-btn">Call Now</a>
		<a href="#" class="btn btn-default navbar-btn">Online Registrations</a>
		<ul class="nav navbar-nav navbar-right" id="ScrollNavigation">
			<li><a href="/#Home">Home</a></li>
			<li><a href="/#HowItWorks">How It Works</a></li>
			<li><a href="/#ServiceArea">Service Area</a></li>
			<li><a href="/#Partners">Partners</a></li>
			<li><a href="/#Contact">Contact</a></li>
		</ul>
	</div>
</nav>
