<div class="modal fade" id="ReservationModal" tabindex="-1" role="dialog" aria-labelledby="ReservationModalTitle">
	<div class="modal-dialog">
		<div class="modal-content">
			<h4 class="modal-title sr-only" id="ReservationModalTitle">Make a Reservation</h4>
			<div class="modal-body">
				<div class="margin-trailer">
					<a href="tel:+17039943931" class="btn btn-block btn-orange-bright btn-fat">Call  703.994.3931</a>
				</div>
				<a href="/reserve.html" class="btn btn-block btn-orange-bright btn-fat">Reserve Online</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="ContactModalTitle">
	<div class="modal-dialog">
		<div class="modal-content">
			<h4 class="modal-title sr-only" id="ContactModalTitle">Contact Us</h4>
			<div class="modal-body">
				<div class="margin-trailer">
					<a href="tel:+17039943931" class="btn btn-block btn-orange-bright btn-fat">Call  703.994.3931</a>
				</div>
				<a href="/contact.html" class="btn btn-block btn-orange-bright btn-fat">Contact Us Online</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
