.pane
	padding: #{$vertical-unit * 8} 0
	@media (max-width: $screen-sm-max)
		padding: #{$vertical-unit * 2} 0
	@media (min-width: $screen-md-min)
		min-height: 600px
		height: 100vh
	// Center content in panes by default:
	display: flex
	flex-direction: column
	justify-content: center

.pane--tracks
	background-image: url('/static/images/tracks.png')
	background-position: 150% top
	background-repeat: no-repeat
