---
---

@import fonts/styles.css

@import variables
@import flex
@import navbar
@import pills
@import panes/base
@import panes/contact
@import panes/titlecard
@import panes/how
@import panes/service-area

@function brightness($color)
	@if type-of($color) == color
		@return (red($color) * 0.299 + green($color) * 0.587 + blue($color) * 0.114) / 255 * 100%
	@else
		@return unquote("brightness(#{$color})")

@function contrast-color($color, $dark: $contrasted-dark-default, $light: $contrasted-light-default)
	@if $color == null
		@return null
	@else
		$color-brightness: brightness($color)
		$dark-text-brightness: brightness($dark)
		$light-text-brightness: brightness($light)
		@return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark)

@each $color-name, $color-hex in $colors
	$color-contrast: if(index($white-text-colors, $color-name), #FFF, contrast-color($color-hex, $white, $black))

	.color-#{$color-name}
		color: $color-hex

	.bg-#{$color-name}, .btn-#{$color-name}
		background: $color-hex
		color: $color-contrast

	.btn-#{$color-name}:hover
		background: darken($color-hex, 5%)
		color: $color-contrast

body
	background: $gray
	color: $white
	font-size: 20px
	line-height: 30px
	font-family: $base-font
	font-weight: 300
	position: relative

h2
	font-family: $accent-font
	text-transform: uppercase
	letter-spacing: .15em

.pad-box
	padding: $vertical-unit

.margin-trailer
	margin-bottom: $vertical-unit

.margin-leader
	margin-top: $vertical-unit

.margin-trailer-dbl
	margin-bottom: $vertical-unit * 2

.margin-leader-dbl
	margin-top: $vertical-unit * 2

.text-huge
	font-size: 100px

.numeral-huge
	font-family: $accent-font

.btn-fat
	padding: #{$vertical-unit * .75} #{$vertical-unit * 3.5}
	font-size: 18px

.col-xxs-12
	@media (max-width: 680px)
		width: 100%

// Bootstrap Overrides
.btn
	border-radius: $border-radius
	font-family: $funky-font
	font-weight: 600
	text-transform: uppercase
	letter-spacing: 3px
	white-space: normal
	margin-bottom: 6px

.btn.text-lowercase
	letter-spacing: .1em
