---
---

@import fonts/styles.css

@import variables
@import flex
@import panes/base
@import panes/titlecard
@import panes/how

@function brightness($color)
	@if type-of($color) == color
		@return (red($color) * 0.299 + green($color) * 0.587 + blue($color) * 0.114) / 255 * 100%
	@else
		@return unquote("brightness(#{$color})")

@function contrast-color($color, $dark: $contrasted-dark-default, $light: $contrasted-light-default)
	@if $color == null
		@return null
	@else
		$color-brightness: brightness($color)
		$dark-text-brightness: brightness($dark)
		$light-text-brightness: brightness($light)
		@return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark)

@each $color-name, $color-hex in $colors
	$color-contrast: if(index($white-text-colors, $color-name), #FFF, contrast-color($color-hex, $white, $black))

	.color-#{$color-name}
		color: $color-hex

	.bg-#{$color-name}, .btn-#{$color-name}
		background: $color-hex
		color: $color-contrast

	.btn-#{$color-name}:hover
		background: darken($color-hex, 5%)
		color: $color-contrast

body
	background: $gray
	color: $white
	font-size: 20px
	line-height: 30px
	font-family: $base-font
	font-weight: 300
	position: relative

h2
	font-family: $accent-font
	text-transform: uppercase
	letter-spacing: .15em

.pad-box
	padding: $vertical-unit

.margin-trailer
	margin-bottom: $vertical-unit

.margin-leader
	margin-top: $vertical-unit

.margin-trailer-dbl
	margin-bottom: $vertical-unit * 2

.margin-leader-dbl
	margin-top: $vertical-unit * 2

.text-huge
	font-size: 100px

.numeral-huge
	font-family: $accent-font

.btn-fat
	padding: #{$vertical-unit * .75} #{$vertical-unit * 3.5}
	font-size: 18px

.navbar-black
	background: $black
	.navbar-nav > li > a
		color: $gray-light
		font-family: $accent-font
		font-size: 16px
		letter-spacing: 2px
		padding-left: 10px
		padding-right: 10px
		&:hover, &:active, &:focus, &.active
			color: $white
			background: transparent
	.navbar-toggle .icon-bar
		background-color: #FFF
	.navbar-right
		margin-right: 0
	@media (max-width: 767px)
		.navbar-left
			margin-left: 15px

// Shrunk navbar stuff
#topNav
	.navbar-toggle
		padding: 20px 10px
		transition: padding .15s linear
	@media (max-width: 767px)
		.navbar-quick-links
			transition: opacity, margin .15s, .15s linear, linear
			margin-top: 12px
	@media (min-width: 768px)
		.navbar-quick-links
			opacity: 0
			transition: opacity, margin .15s, .15s linear, linear
			margin-top: -30px
			pointer-events: none

	.navbar-nav > li > a
		padding-top: 30px
		padding-bottom: 30px
		transition: padding .15s linear
	&.shrunk
		.navbar-toggle
			padding: 9px 10px
		.navbar-nav > li > a
			padding-top: 15px
			padding-bottom: 15px
		.navbar-quick-links
			opacity: 1
			margin-top: 0
			pointer-events: auto

// Specific elements

.box-divider
	height: 255px
	background: url("/static/images/boxes.svg")
	background-size: 1000px
	background-repeat: repeat-x
	position: relative
	transform: translate3d(0, -50%, 0)

.map
	background: radial-gradient(circle at 64% 50%, $orange-bright 0%, $orange-bright 30%, rgba($orange-bright, 0) 47%)

// Bootstrap Overrides
.btn
	border-radius: $border-radius
	font-family: $funky-font
	font-weight: 600
	text-transform: uppercase
	letter-spacing: 3px
	white-space: normal
	margin-bottom: 6px

.btn.text-lowercase
	letter-spacing: .1em
